<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body class="learning-objective-post-assessment learning-objective-child">
        {{ partial "skip.html" }}
        {{ partial "nav.html" .Parent }}
        <div class="container">
            <div class="row">
                <header id="content" class="domain-page-titles col-md-12">
                    <nav class="ohcoe-breadcrumb" aria-label="Breadcrumb">
                        <ol>
                            <li class="bc-inner">
                                <a href="{{ .Parent.Parent.Permalink }}">{{ .Parent.Parent.Title }}</a>
                                <span aria-hidden="true" class="bc-sep">&raquo;</span>
                            </li>
                            <li class="bc-inner">
                                <a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a>
                                <span aria-hidden="true" class="bc-sep">&raquo;</span>
                            </li>
                            <li class="bc-last" aria-current="page"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        </ol>
                    </nav>
                    <h1>{{ .Title }}</h1>
                </header>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main id="assessment-page-title" data-domainId="{{ .Parent.Parent.Weight }}-{{ .Parent.Weight }}"
                                                     data-learning-objective="{{ .Parent.Title }}"
                                                     data-learning-objective-url="{{ .Parent.Permalink }}">
                        <article>
                            {{ .Parent.Content }}
                        </article>
                        <form class="assessment-form">
                            <fieldset>
                                <legend>
                                    <strong id="assessment-form-title">Indicate your level of agreement with the following statement:</strong>
                                </legend>
                            <p>{{ .Content }}</p>
                            {{ $currentPage := . }}
                            {{ $questionLen := sub (len .Params.q1) 1 }}
                            {{ range $idx, $el := .Params.q1 }}
                            <div class="form-check">
                                <input type="radio" class="form-check-input assessment-question" name="{{ $currentPage.Parent.Parent.Weight }}-{{ $currentPage.Parent.Weight }}-post-q1" id="q1-{{ sub $questionLen $idx }}" value="{{ sub $questionLen $idx }}" />
                                <label class="form-check-label" for="q1-{{ sub $questionLen $idx }}">{{ $el }}</label>
                            </div>
                            {{ end }}
                            </fieldset>
                        </form>
                    </main>
                    <div class="container">
                        <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                            <div id="lateral-navigation" class="col-12 btn-toolbar justify-content-center">
                                <div class="input-group">
                                {{ if lt .Parent.Weight 3 }}
                                    {{ range first 1 (where .Parent.Parent.Sections.ByWeight "Weight" "gt" .Parent.Weight) }}   
                                    <a class="btn btn-secondary btn-lg" href="{{.Permalink }}">Next</a>
                                    {{ end }}
                                {{ else }}
                                    {{ range first 1 (where .Parent.Parent.Sections "Type" "review") }}   
                                    <a class="btn btn-secondary btn-lg" href="{{.Permalink }}">Next</a>
                                    {{ end }}
                                {{ end }}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3">
                    {{ partial "learning-objective-sidebar.html" . }}
                </div>
            </div>
        </div>
        {{ partial "footer.html" }}
    </body>
</html>
