<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" . }}
        {{ partial "nav.html" . }}
        <main id="cumulative-review">
            <div class="container">
                <h1>Cumulative Review Template</h1>
                <h1>{{ .Title }}</h1>
                {{ .Content }}
                <div class="progress">
                    <div id="cumulative-pre-score" class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="4"></div>
                </div>
                <div class="progress">
                    <div id="cumulative-post-score" class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="4"></div>
                </div>
                <div id="cumulative-growth-diff"></div>
                {{ range (where $.Site.Pages "Type" "domain")  }}
                <h2 id="domain-title-{{ anchorize .Weight }}" style="display: none">{{ .Title }}</h2>
                <div id="domain-score-{{ anchorize .Weight }}" style="display: none"></div>
                <div id="{{ anchorize .Weight }}" class="domain-results" style="display: none">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Learning Objective</th>
                                <th scope="col">Pre-Assessment Score</th>
                                <th scope="col">Post-Assessment Score</th>
                                <th scope="col">Change in Score</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody> 
                    </table>
                </div>
                {{ end }}
            </div>
        </main>
    </body>
    {{ partial "footer.html" }}
    <div class="container">
        <code>
            {{ printf "%#v" .  }} 
        </code>
    </div>
</html>
