$primary-green: rgb(15, 17, 128); /*blue*/
$secondary-green: rgb(0, 97, 48);  /*green*/
$tertiary-green: rgb(191, 191, 191);  /*gray*/

$secondary-yellow: rgb(158, 42, 0); /*red*/
$secondary-brown: rgb(0, 0, 0); /*black*/
