.icon-feature {
	fill: #00cc74; /*GREEN #00cc74*/
}

#logo {
    width: 200px;
    @include media-breakpoint-up(md) {
        width: 400px;
    }
    path {
        fill: #FFFFFF;
    }
}

.icon-path svg {height: 120px;}

.cls-1 {fill: #f24e40;} /*RED #f24e40*/
.cls-2  {fill: #ef802d;} /*ORANGE #ef802d*/
.cls-3 {fill: #0097da;} /*BLUE #0097da*/
.cls-4 {fill: #f7ca38;} /*GOLD #f7ca38*/
.cls-5 {fill: #9e57b3;} /*PURPLE #9e57b3*/













