@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {font-family: 'Montserrat', sans-serif;}

p, ul, ol, ul ul, ol ol {font-family: 'Open Sans', sans-serif;}

a#primary-navigation, h2 {text-transform: uppercase;}

a {
    color: $secondary-yellow;
    &:hover {
        text-decoration: underline!important;
    }
}

%page-title {
    font-size: 2.5em;
    color: $secondary-brown;
    font-weight: 800;
    margin-top: 1em;
}

.domain-page-titles {
    h1, .learning-objective-title {
        @extend %page-title;
        margin-top: 1em;
    }
    .domain-title {
        font-weight: 600;
        font-size: 2em;
        text-transform: uppercase;
        margin-top: 1em;
    }
}

body.learning-objective-child main h1 {
    color: $secondary-brown;
    margin-top: 1em;
}

#cumulative-review-title, #basic-page-title {
    @extend %page-title;
}

form.assessment-form h1#assessment-form-title {
    font-weight: 800;
    font-size: 1.25em;
}

a:hover {text-decoration: underline!important;}

.line-break {
    display: block
}

h2 {margin-top: 2em;}