nav[aria-labelledby="knowledge-domain-navigation"] {
    li {
        a {
            color: #000000;
        }
        &.predecessor {
            color: $secondary-green;
            a {
                color: $secondary-green;
            }
        }
        &.active {
            color: $secondary-yellow;
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: none;
    }

    ol {
        > li {
            font-weight: 600;
        }
    }
}
