nav[aria-labelledby="knowledge-domain-navigation"] {
    background-color: #FFFFFF;
    // Set styles for the top level items
    font-weight: 600;
    * {
        list-style-type: none;
    }
    a {
        color: #000000;
    }
    li.predecessor {
        color: $secondary-green;
        a {
            color: $secondary-green;
        }
    }
    li.active {
        color: $secondary-yellow;
        text-decoration: underline;
    }

    // Set styles for items one level deep
    li.knowledge-domain-navigation-sub-item * {
        font-weight: 400;
    }
}

nav[aria-labelledby="lateral-navigation"] {
    background-color: #FFFFFF;

    #lateral-navigation {
        background-color: $tertiary-green;
        border-radius: 0.25rem;
        padding: 2em 1em;
    }
} 
