<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" }}
        {{ partial "nav.html" .Parent }}
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-12">
                    <div class="domain-title"><span>Domain: {{ .Parent.Parent.Title }}</span></div>
                    <div class="learning-objective-title"><span>Learning Objective: {{ .Parent.Title }}</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main id="assessment-page-title" data-domainId="{{ .Parent.Parent.Weight }}-{{ .Parent.Weight }}"
                                                     data-learning-objective="{{ .Parent.Title }}"
                                                     data-learning-objective-url="{{ .Parent.Permalink }}">
                        <h1>{{ .Title }}</h1>
                        <article>
                            {{ .Content }}
                        </article>
                    </main>
                    <section>
                        <h1>Self Assessment</h1>
                        <form>
                            <h2>How would you describe your comfort level?</h2>
                            {{ $currentPage := . }}
                            {{ range $idx, $el := .Params.q1 }}
                            <div class="form-check">
                                <input type="radio" class="form-check-input assessment-question" name="{{ $currentPage.Parent.Parent.Weight }}-{{ $currentPage.Parent.Weight }}-pre-q1" id="q1-{{ $idx }}" value="{{ $idx }}" />
                                <label class="form-check-label" for="q1-{{ $idx }}">{{ $el }}</label>
                            </div>
                            {{ end }}
                        </form>
                    </section>
                    <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                        <div id="lateral-navigation" class="col-2">
                            {{ range first 1 (where .Parent.Pages "Type" "learning-objective-video") }}   
                            <p>Watch expert video</p>
                            <a class="btn btn-primary btn-lg" href="{{.Permalink }}">Next</a>
                            {{ end }}
                        </div>
                    </nav>
                </div>
                <div class="col-md-3">
                    {{ partial "learning-objective-sidebar.html" . }}
                </div>
            </div>
        </div>
    </body>
    {{ partial "footer.html" }}
    <div class="container">
        <code>
            {{ printf "%#v" .Parent.Pages }} 
        </code>
    </div>
</html>
