<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" }}
    <body>
        {{ partial "skip" }}
        {{ partial "nav.html" . }}
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-12">
                    <h1>{{ .Title }}</h1>
                    <h2>Introduction to {{ .Title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main>
                        {{ partial "video.html" .Params.videoId }}
                        {{ .Content }}
                    </main>
                    <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                        <div id="lateral-navigation" class="col-4">
                        {{ range first 1 .Sections.ByWeight}}   
                        <p>Meet your first objective</p>
                        <a class="btn btn-primary btn-lg" href="{{.Permalink }}">Next</a>
                        {{ end }}
                        </div>
                    </nav>
                </div>
                <div class="col-md-3">
                    <nav aria-labelledby="knowledge-domain-navigation">
                        <div id="knowledge-domain-navigation" class="sr-only">{{ .Title }} Domain Navigation</div>
                        <ul>
                            <li>{{ .Title }}</li>
                            {{ range .Sections.ByWeight  }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            <ul>
                                {{ range .Pages }}
                                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>
    {{ partial "footer.html" . }}
    <div class="container">
        <code>
            {{ printf "%#v" .Sections }} 
        </code>
    </div>
</html>
