<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" }}
    <body>
        {{ partial "skip.html" }}
        {{ partial "nav.html" . }}
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-12">
                    <div class="domain-title"><span>Domain: {{ .Parent.Title }}</span></div>
                    <h1>Learning Objective: {{ .Title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main>
                        {{ .Content }}
                    </main>
                    <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                        <div class="col-4">
                            {{ range first 1 (where .Pages "Type" "learning-objective-pre-assessment") }}   
                            <p>Gauge your <span>current</span> understanding</p>
                            <a class="btn btn-primary btn-lg" href="{{.Permalink }}">Next</a>
                            {{ end }}
                        </div>
                    </nav>
                </div>
                <div class="col-md-3">
                    <nav aria-labelledby="knowledge-domain-navigation">
                        <div id="knowledge-domain-navigation" class="sr-only">{{ .Parent.Title }} Domain Navigation</div>
                        <ul>
                            <li><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
                            {{ range .Parent.Sections.ByWeight  }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            <ul>
                                {{ range .Pages }}
                                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>
    {{ partial "footer.html" }}
    <div class="container">
        <code>
            {{ printf "%#v" .Pages  }} 
        </code>
    </div>
</html>
