* {font-family: 'Montserrat', sans-serif;}

p, ul, ol, ul ul, ol ol {font-family: 'Open Sans', sans-serif;}

a#primary-navigation, h2 {text-transform: uppercase;}

body {background-color: #e9f1f2;}

.bg-dark {background-color: #18beac!important;}

a {color: #a0a61f;}