<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" . }}
        {{ partial "nav.html" . }}
        <main id="cumulative-review">
            <div class="container">
                <h1 id="cumulative-review-title">{{ .Title }}</h1>
                {{ .Content }}
                <div id="demographic-q-responses" style="display: none">
                    <h1>Demographic Questions</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div id="cumulative-pre-diff" class="col-12"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                {{ partial "heart-icon.html" "pre-0"}}
                            </div>
                            <div class="col-md-2">
                                {{ partial "heart-icon.html" "pre-1"}}
                            </div>
                            <div class="col-md-2">
                                {{ partial "heart-icon.html" "pre-2"}}
                            </div>
                            <div class="col-md-2">
                                {{ partial "heart-icon.html" "pre-3"}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div id="cumulative-post-diff" class="col-12"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                {{ partial "heart-icon.html" "post-0"}}
                            </div>
                            <div class="col-md-2">
                                {{ partial "heart-icon.html" "post-1"}}
                            </div>
                            <div class="col-md-2">
                                {{ partial "heart-icon.html" "post-2"}}
                            </div>
                            <div class="col-md-2">
                                {{ partial "heart-icon.html" "post-3"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cumulative-growth-diff"></div>
                {{ range (where $.Site.Pages "Type" "domain")  }}
                <h2 id="domain-title-{{ anchorize .Weight }}" style="display: none">{{ .Title }}</h2>
                <div id="domain-score-{{ anchorize .Weight }}" style="display: none"></div>
                <div id="{{ anchorize .Weight }}" class="domain-results" style="display: none">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Learning Objective</th>
                                <th scope="col">Pre-Assessment Score</th>
                                <th scope="col">Post-Assessment Score</th>
                                <th scope="col">Change in Score</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody> 
                    </table>
                </div>
                {{ end }}
                <button id="review-print" class="btn btn-primary btn-lg" href="#">Print</button>
            </div>
        </main>
        {{ partial "footer.html" }}
    </body>
</html>
