<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" }}
        {{ partial "nav.html" . }}
        <div class="container">
            <div class="row">
                <header id="content" class="col-12">
                    <h1 id="cumulative-review-title">{{ .Title }}</h1>
                </header>
            </div>
        </div>
        <main id="cumulative-review">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {{ .Content }}
                        <p>
                            Congratulations on completing these domains. From
                            here, you can review individual learning
                            objectives, and print out your results.
                        </p>
                        <p>
                            To strengthen your new understanding, please visit
                            <a href="/links/">Training Resources</a> and
                            <a href="/clinical-narrative/">Clinical Narratives</a>
                            in our Resources section.
                        </p>
                    </div>
                </div>
                <div id="review-score-container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Total Score</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "pre-0"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "pre-1"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "pre-2"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "pre-3"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 score-diff-container">
                                    <div id="cumulative-pre-diff"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-9">
                            <div class="row post-assessment-score-row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "post-0"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "post-1"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "post-2"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "post-3"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 score-diff-container">
                                    <div id="cumulative-post-diff"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cumulative-growth-diff"></div>
                <h2>Detailed Score</h2>
                {{ range (where $.Site.Pages "Type" "domain")  }}
                <h3 id="domain-title-{{ anchorize .Weight }}" style="display: none" data-cy="domain-title-{{ anchorize .Weight }}" >{{ .Title }}</h3>
                <div id="domain-score-{{ anchorize .Weight }}" style="display: none"></div>
                <div id="{{ anchorize .Weight }}" class="domain-results" style="display: none">
                    <table class="table">
                        <caption class="sr-only">{{ .Title }}</caption>
                        <thead>
                            <tr>
                                <th scope="col">Learning Objective</th>
                                <th scope="col">Pre-Assessment Score</th>
                                <th scope="col">Post-Assessment Score</th>
                                <th scope="col">Change in Score</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody> 
                    </table>
                </div>
                {{ end }}
                <div class="row">
                    <div class="col-12">
                        <div id="demographic-q-responses" style="display: none">
                            <h2>About You</h2>
                        </div>
                        <div id="review-no-score">
                            <p>At least one pair of pre and post assessment questions need to be answered for scores to appear.</p>
                        </div>
                    </div>
                </div>
                <button id="review-print" class="btn btn-primary btn-lg" href="#">Print</button>
            </div>
        </main>
        {{ partial "footer.html" }}
    </body>
</html>
