<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" }}
        {{ partial "nav.html" . }}
        <div class="container">
            <div class="row">
                <div id="content" class="domain-page-titles col-md-12">
                    <div class="domain-title">{{ .Parent.Title }}</div>
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main>
                        {{ .Content }}
                    </main>
                    <div class="container">
                        <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                            <div id="lateral-navigation" class="col-12 btn-toolbar justify-content-center">
                                <div class="input-group">
                                    {{ range first 1 (where .Pages "Type" "learning-objective-pre-assessment") }}   
                                    <a class="btn btn-secondary btn-lg" href="{{.Permalink }}">Next</a>
                                    {{ end }}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3">
                    <nav aria-labelledby="knowledge-domain-navigation">
                        <div id="knowledge-domain-navigation" class="sr-only">{{ .Parent.Title }} Domain Navigation</div>
                        <ul>
                            <li class="predecessor"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
                            {{ $currentPage := . }}
                            {{ range .Parent.Sections.ByWeight  }}
                            {{ if eq $currentPage . }}
                            <li class="active">{{ .Title }}</li>
                            {{ else }}
                                
                            <li {{ if lt .Weight $currentPage.Weight }}class="predecessor"{{ end }}><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            <ul>
                                {{ range .Pages }}
                                <li {{ if lt .Parent.Weight $currentPage.Weight }}class="predecessor"{{ end }}><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {{ partial "footer.html" }}
    </body>
</html>
