<nav aria-labelledby="knowledge-domain-navigation">
    <div id="knowledge-domain-navigation" class="sr-only">{{ .Parent.Parent.Title }} Domain Navigation</div>
    <ul>
        <li><a href="{{ .Parent.Parent.Permalink }}">{{ .Parent.Parent.Title }}</a></li>
        {{ range .Parent.Parent.Sections.ByWeight  }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        <ul>
            {{ range .Pages.ByWeight }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </ul>
</nav>
