<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" }}
        {{ partial "nav.html" . }}
        <div class="container">
            <div class="row">
                <div id="content" class="domain-page-titles col-md-12">
                    <div class="domain-title">{{ .Parent.Title }}</div>
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main id="domain-review">
                        {{ .Content }}
                        <h2>Total Score</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div id="domain-pre-diff" class="col-12"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        {{ partial "heart-icon.html" "pre-0"}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ partial "heart-icon.html" "pre-1"}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ partial "heart-icon.html" "pre-2"}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ partial "heart-icon.html" "pre-3"}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div id="domain-post-diff" class="col-12"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        {{ partial "heart-icon.html" "post-0"}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ partial "heart-icon.html" "post-1"}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ partial "heart-icon.html" "post-2"}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ partial "heart-icon.html" "post-3"}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="domain-growth-diff"></div>
                        <h2>Detailed Score</h2>
                        <div id="{{ anchorize .Parent.Weight }}" class="domain-results">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Pre-Assessment Score</th>
                                        <th scope="col">Post-Assessment Score</th>
                                        <th scope="col">Change in Score</th>
                                        <th scope="col">Learning Objective</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody> 
                            </table>
                        </div>
                    </main>
                    <div class="container">
                        <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                            <div id="lateral-navigation" class="col-12 btn-toolbar justify-content-between">
                                <div class="btn-group">
                                    <button id="review-print" class="btn btn-secondary btn-lg" href="#">Print</button>
                                </div>
                                <div class="input-group">
                                {{ $parentWeight := .Parent.Weight }}
                                {{ $grandParentWeight := .Parent.Parent.Weight }}
                                {{ if lt $parentWeight 3 }}
                                    {{ range first 1 (where .Parent.Parent.Sections.ByWeight "Weight" "gt" $parentWeight) }}   
                                        {{ range first 1 (where $.Site.Pages "Type" "cumulative-review") }}
                                        <a class="btn btn-secondary btn-lg mr-1" href="{{.Permalink}}">Cumulative Assessment</a>
                                        {{ end }}
                                    <a class="btn btn-secondary btn-lg" href="{{.Permalink }}">Continue to Next Domain</a>
                                    {{ end }}
                                {{ else }}
                                    {{ range first 1 (where $.Site.Pages "Type" "cumulative-review") }}
                                    <a class="btn btn-secondary btn-lg" href="{{.Permalink}}">Cumulative Assessment</a>
                                    {{ end }}
                                {{ end }}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3">
                    <nav aria-labelledby="knowledge-domain-navigation">
                        <div id="knowledge-domain-navigation" class="sr-only">{{ .Parent.Title }} Domain Navigation</div>
                        <ul>
                            <li class="predecessor"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
                            {{ $currentPage := . }}
                            {{ range .Parent.Sections.ByWeight  }}
                            {{ if eq $currentPage . }}
                            <li class="active">{{ .Title }}</li>
                            {{ else }}
                            <li class="predecessor"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            <ul>
                                {{ range .Pages }}
                                <li class="predecessor"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {{ partial "footer.html" }}
    </body>
</html>
