<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" }}
        {{ partial "nav.html" . }}
        <div class="container">
            <div class="row">
                <header id="content" class="domain-page-titles col-md-12">
                    <nav class="ohcoe-breadcrumb" aria-label="Breadcrumb">
                        <ol>
                            <li class="bc-inner">
                                <a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a>
                                <span aria-hidden="true" class="bc-sep">&raquo;</span>
                            </li>
                            <li class="bc-last" aria-current="page"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        </ol>
                    </nav>
                    <h1>{{ .Title }}</h1>
                </header>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main id="domain-review">
                        {{ .Content }}
                        <div id="review-no-score">
                            <p>At least one pair of pre and post assessment questions need to answered for scores to appear.</p>
                        </div>
                        <div id="review-score-container">
                            <h2>Total Score</h2>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "pre-0"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "pre-1"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "pre-2"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "pre-3"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 score-diff-container">
                                    <div id="domain-pre-diff"></div>
                                </div>
                            </div>
                            <div class="row post-assessment-score-row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "post-0"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "post-1"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "post-2"}}
                                        </div>
                                        <div class="col-md-3">
                                            {{ partial "heart-icon.html" "post-3"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4 score-diff-container">
                                    <div id="domain-post-diff"></div>
                                </div>
                            </div>
                            <h2>Detailed Score</h2>
                            <div id="{{ anchorize .Parent.Weight }}" class="domain-results">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Learning Objective</th>
                                            <th scope="col">Pre-Assessment Score</th>
                                            <th scope="col">Post-Assessment Score</th>
                                            <th scope="col">Change in Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </main>
                    <div class="container">
                        <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                            <div id="lateral-navigation" class="col-12 btn-toolbar justify-content-between">
                                <div class="btn-group">
                                    <button id="review-print" class="btn btn-secondary btn-lg" href="#">Print</button>
                                </div>
                                <div class="input-group">
                                {{ $parentWeight := .Parent.Weight }}
                                {{ $grandParentWeight := .Parent.Parent.Weight }}
                                {{ if lt $parentWeight 3 }}
                                    {{ range first 1 (where .Parent.Parent.Sections.ByWeight "Weight" "gt" $parentWeight) }}   
                                        {{ range first 1 (where $.Site.Pages "Type" "cumulative-review") }}
                                        <a class="btn btn-secondary btn-lg mr-1" href="{{.Permalink}}">Cumulative Assessment</a>
                                        {{ end }}
                                    <a class="btn btn-secondary btn-lg" href="{{.Permalink }}">Continue to Next Domain</a>
                                    {{ end }}
                                {{ else }}
                                    {{ range first 1 (where $.Site.Pages "Type" "cumulative-review") }}
                                    <a class="btn btn-secondary btn-lg" href="{{.Permalink}}">Cumulative Assessment</a>
                                    {{ end }}
                                {{ end }}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3">
                    <nav aria-labelledby="knowledge-domain-navigation">
                        <div id="knowledge-domain-navigation" class="sr-only">{{ .Parent.Title }} Domain Navigation</div>
                        <ul>
                            <li class="predecessor"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
                            {{ $currentPage := . }}
                            {{ range .Parent.Sections.ByWeight  }}
                            {{ if eq $currentPage . }}
                            <li class="active">{{ .Title }}</li>
                            {{ else }}
                            <li class="predecessor"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            {{ if .Pages }}
                            <li class="knowledge-domain-navigation-sub-item">
                                <ul>
                                    {{ range .Pages }}
                                    <li class="predecessor"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{ end }}
                                </ul>
                            </li>
                            {{ end }}
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {{ partial "footer.html" }}
    </body>
</html>
