.ohcoe-breadcrumb {
    background-color: #FFFFFF;

    font-weight: 400;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 1em;

    ol {
        display: flex;
        flex-flow: row nowrap;
        padding-inline-start: 0;
    }

    li {
        list-style-type: none;
        .bc-sep {
            margin-right: 0.5em;
            margin-left: 0.3em;
        }
    }
}
