footer .partner a {
    color: #FFFFFF;
    fill: #FFFFFF;
    @include media-breakpoint-down(md) {
        display: block;
        max-width: 200px;
        margin: 0 auto 1em;
    }
}

#ctl-logo {
    max-height: 45px;
}
