.get-started-container {
    padding: 0em 3em 4em 3em;
}

.get-started-lede-display {
    @extend h3;
    padding-top: .75em;
    display: block;
}

.get-started-lede {
    padding-bottom: 3em;
}

.get-started-domain-sub {
    @extend h5;
    display: block;
    margin-bottom: 1em;
    @include media-breakpoint-up(md) {
        height: 4em;
    }
} 

.get-started-spacer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.domains {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p {
        margin-bottom: 0;
    }
    
    p, ul, .domain-sub-head  {
        align-self: flex-start;
    }

    p, .domain-sub-head  {
        padding: 0em 2em;
    }
    
    ul {
        padding: 0em 3em;
    }

    // Domain Icons
    .domain-logo {
        width: 50%;
    }
    
    .icon-feature-sad-person {
        fill: indigo;
    }

    .icon-feature-heart {
        fill: red;
    }

    .icon-feature-book {
        fill: black;
    }

    span.domain-title {
        @extend .display-4;
    }

    .enter-domain {
        display: block;
        margin-bottom: 1rem;
    }
}

.btn-lg {margin-bottom: 1em;}
