nav, footer > .container {
    background-color: $primary-green;
}

footer > .container {
    color: #FFFFFF;
    background-color: $primary-green;
    padding: 1em;
    text-align: center;
}

.navbar-container {
    padding: 0px;
}

nav#primary-nav {
    a.nav-link {
        color: white!important;
    }
    font-size: 1.1rem;
    font-weight: 700;
}

.dropdown-menu {background-color: $primary-green;}

.dropdown-item {
    color: #FFFFFF;
}

.dropdown-item.active, .dropdown-item:active {
    color: #000000;
    background-color: #FFFFFF;
}

#lateral-navigation {margin-bottom: 2em;}

nav li a,  {
    text-decoration: none!important;
}

nav li a:hover,  {
    text-decoration: underline!important;
}
