<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" }}
    <body>
        {{ partial "skip.html" }}
        {{ partial "nav.html" .Parent }}
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-12">
                    <div class="domain-title"><span>Domain: {{ .Parent.Parent.Title }}</span></div>
                    <div class="learning-objective-title"><span>Learning Objective: {{ .Parent.Title }}</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main>
                        <h1>{{ .Title }}</h1>
                        <article>
                            {{ .Content }}
                        </article>
                    </main>
                    <section>
                        <h1>Self Assessment</h1>
                        <form>
                            <h2>How would you describe your comfort level?</h2>
                            {{ $currentPage := . }}
                            {{ range $idx, $el := .Params.q1 }}
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="{{ $currentPage.Parent.Parent.Title }}-{{ $currentPage.Parent.Title }}-post-q1" id="q1-{{ $idx }}" value="{{ add (int $idx) 1 }}" />
                                <label class="form-check-label" for="q1-{{ $idx }}">{{ $el }}</label>
                            </div>
                            {{ end }}
                            <h2>Could you reflect on your comfort level?</h2>
                            <textarea name="{{ $currentPage.Parent.Parent.Title }}-{{ $currentPage.Parent.Title }}-post-reflection" id="self-reflection" autocomplete="off" cols="70" rows="5"></textarea>
                        </form>
                    </section>
                    <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                        <div id="lateral-navigation" class="col-4">
                            {{ range first 1 (where .Parent.Parent.Sections "Type" "review") }}   
                            <p>Review your knowledge</p>
                            <a class="btn btn-primary btn-lg" href="{{.Permalink }}">Next</a>
                            {{ end }}
                        </div>
                    </nav>
                </div>
                <div class="col-md-3">
                    {{ partial "learning-objective-sidebar.html" . }}
                </div>
            </div>
        </div>
    </body>
    {{ partial "footer.html" }}
    <div class="container">
        <code>
            {{ printf "%#v" .Parent.Parent.Parent.Sections }} 
        </code>
    </div>
</html>
