<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" }}
    <body>
        {{ partial "nav.html" .Parent }}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main>
                        {{ .Content }}
                    </main>
                </div>
                <div class="col-md-3">
                    {{ partial "learning-objective-sidebar.html" . }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                {{ $parentWeight := .Parent.Weight }}
                {{ $grandParentWeight := .Parent.Parent.Weight }}
                {{ if lt $parentWeight 3 }}
                    {{ range first 1 (where .Parent.Parent.Sections.ByWeight "Weight" "gt" $parentWeight) }}   
                    <p>Proceed to next learning objective</p>
                    <a class="btn btn-primary btn-lg" href="{{.Permalink }}">Next</a>
                    {{ end }}
                {{ else }}
                    {{ if lt $grandParentWeight 3 }}
                        {{ range first 1 (where .Parent.Parent.Parent.Sections.ByWeight "Weight" "gt" $grandParentWeight) }}   
                        <p>See your results</p>
                        <a class="btn btn-primary btn-lg" href="{{.Permalink }}">Next</a>
                        {{ end }}
                    {{ else }}
                        <p>See your cumalative results</p>
                        <a class="btn btn-primary btn-lg" href="#">Next</a>
                    {{ end }}
                {{ end }}
                </div>
            </div>
        </div>
    </body>
    {{ partial "footer.html" }}
    <div class="container">
        <code>
            {{ printf "%#v" .Parent.Parent.Parent.Sections }} 
        </code>
    </div>
</html>
