<div class="container navbar-container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-labeledby="primary-navigation">
        <a id="primary-navigation" class="navbar-brand" href="{{ .Site.BaseURL }}">
            <div id="logo">
                {{ partial "logo-horizontal.html" }}
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample">
            <ul class="navbar-nav ml-auto">
                {{ $currentPage := .  }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{ if (or ($currentPage.HasMenuCurrent "main" .) (false)) }} active{{ end  }}
                                {{ range .Children }}{{ if (eq .Page $currentPage.Parent )}} active{{ end}}{{ end }}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ .Name }}
                            </a>  
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {{ range .Children }}
                                <a class="dropdown-item {{ if (or (eq .Page $currentPage) (eq .Page $currentPage.Parent ))}}active{{ end}}" href="{{ .URL }}">{{ .Name }}</a>
                                {{ end }}
                            </div>
                        </li>
                    {{ else }}
                        {{ if $currentPage.Parent }}
                        <li class="nav-item">
                            <a class="nav-link{{ if (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.Parent.IsMenuCurrent "main" .)) }} active{{ end  }}" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ else }}
                        <li class="nav-item">
                            <a class="nav-link{{ if ($currentPage.IsMenuCurrent "main" .) }} active{{ end  }}" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    {{ end }}
                {{ end }}
                <li class="nav-item">
                    <button type="button" id="refresh-trigger" class="btn btn-primary" data-toggle="modal" data-target="#refreshModal">
                        Refresh 
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- Modal -->
<div class="modal fade" id="refreshModal" tabindex="-1" role="dialog" aria-labelledby="refreshModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="refreshModalLabel">Refresh Your Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Refreshing your data will clear your responses to all questions. 
            </div>
            <div class="modal-footer">
                <button id="refresh-dismiss" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="storage-reset" class="btn btn-primary">Refresh</button>
            </div>
        </div>
    </div>
</div>
