<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" }}
        {{ partial "nav.html" }}
        <main id="content">
            <div class="container">
                <h1>Cumalative Review Template</h1>
                <h1>{{ .Title }}</h1>
                {{ .Content }}
            </div>
        </main>
    </body>
    {{ partial "footer.html" }}
    <div class="container">
        <code>
            {{ printf "%#v" .  }} 
        </code>
    </div>
</html>
