<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" . }}
        {{ partial "nav.html" . }}
        <main id="content">
            <div class="container p-0">
                <div id="hp-hero" class="jumbotron-fluid">
                    <h1 class="display-4">Help your patients who are at risk for opioid addiction.</h1>
                    <a class="btn btn-light">Start Now</a>
                </div>
            </div>
            <div class="container">
                <div id="hp-project-intro" class="row">
                    <div class="col-md-6">
                        <span>Project OHCOE</span> is an online resource designed to help dental students identify patients at risk for opioid addiction, interact with them, and manage their treatment.
                    </div>
                    <div class="col-md-6">
                        <div id="hp-project-intro-logo">
                            {{ partial "logo-vertical.html" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div id="hp-project-tag" class="row">
                    <div class="mx-auto">
                        Learn how to provide a new level of care through <span>three domains of expertise.</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 hp-domains">
                        <div class="domain-logo">
                            {{ partial "icon-feature-identify.html" }}
                        </div>
                        <h2>Identify</h2>
                        <p>
                            Ipsum ipsa aperiam unde ab molestias Ipsam ratione
                            debitis debitis illo aspernatur id Laborum
                            explicabo quod incidunt ipsa odio. Et hic
                            necessitatibus perferendis eius aliquid Fugit non
                            est voluptate a?
                        </p>
                    </div>
                    <div class="col-md-4 hp-domains">
                        <div class="domain-logo">
                            {{ partial "icon-feature-refer.html" }}
                        </div>
                        <h2>Refer</h2>
                        <p>
                            Ipsum ipsa aperiam unde ab molestias Ipsam ratione
                            debitis debitis illo aspernatur id Laborum
                            explicabo quod incidunt ipsa odio. Et hic
                            necessitatibus perferendis eius aliquid Fugit non
                            est voluptate a?
                        </p>
                    </div>
                    <div class="col-md-4 hp-domains">
                        <div class="domain-logo">
                            {{ partial "icon-feature-manage.html" }}
                        </div>
                        <h2>Manage</h2>
                        <p>
                            Ipsum ipsa aperiam unde ab molestias Ipsam ratione
                            debitis debitis illo aspernatur id Laborum
                            explicabo quod incidunt ipsa odio. Et hic
                            necessitatibus perferendis eius aliquid Fugit non
                            est voluptate a?
                        </p>
                    </div>
                </div>
            </div>
        </main>
    {{ partial "footer.html" . }}
    </body>
</html>
