<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body class="learning-objective-video learning-objective-child">
        {{ partial "skip.html" }}
        {{ partial "nav.html" .Parent }}
        <div class="container">
            <div class="row">
                <header id="content" class="domain-page-titles col-md-12">
                    <div class="domain-title">{{ .Parent.Parent.Title }}</div>
                    <div class="learning-objective-title">{{ .Parent.Title }}</div>
                </header>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main>
                        <h1>{{ .Title }}</h1>
                        <section>
                        {{ .Content }}
                        </section>
                        <article>
                            <h2>Primary Video</h2>
                            <p>Watch this video to increase your understanding</p>
                            {{ partial "video.html" (dict "videoId" .Params.primaryVideoId "videoTitle" (printf "%s video" .Parent.Title)) }}
                            <h2>Secondary Video</h2>
                            <p>For a deeper understanding, watch these videos</p>
                            <div class="row">
                            {{ range $video := .Params.supplimentalVideo }}
                                <div class="col-md-6 supplimental-video">
                                {{ partial "video.html" (dict "videoId" (index $video "id") "videoTitle" "Supplimentary Video") }}
                                    <div>
                                        {{ index $video "desc" }} 
                                    </div>
                                </div>
                            {{ end }}
                            </div>
                        </article>
                    </main>
                    <div class="container">
                        <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                            <div id="lateral-navigation" class="col-12 btn-toolbar justify-content-center">
                                <div class="input-group">
                                    {{ range first 1 (where .Parent.Pages "Type" "learning-objective-post-assessment") }}   
                                    <a class="btn btn-secondary btn-lg" href="{{.Permalink }}">Next</a>
                                    {{ end }}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3">
                    {{ partial "learning-objective-sidebar.html" . }}
                </div>
            </div>
        </div>
        {{ partial "footer.html" }}
    </body>
</html>
