<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body class="learning-objective-video learning-objective-child">
        {{ partial "skip.html" }}
        {{ partial "nav.html" .Parent }}
        <div class="container">
            <div class="row">
                <header id="content" class="domain-page-titles col-md-12">
                    <nav class="ohcoe-breadcrumb" aria-label="Breadcrumb">
                        <ol>
                            <li class="bc-inner">
                                <a href="{{ .Parent.Parent.Permalink }}">{{ .Parent.Parent.Title }}</a>
                                <span aria-hidden="true" class="bc-sep">&raquo;</span>
                            </li>
                            <li class="bc-inner">
                                <a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a>
                                <span aria-hidden="true" class="bc-sep">&raquo;</span>
                            </li>
                            <li class="bc-last" aria-current="page"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        </ol>
                    </nav>
                    <h1>{{ .Title }}</h1>
                </header>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main>
                        <section>
                        {{ .Content }}
                        </section>
                        <article>
                            <h2>Principal Video</h2>
                            {{ partial "video.html" (dict "videoId" .Params.primaryVideoId "videoTitle" (printf "%s video" .Parent.Title) "url" .Permalink) }}
                            <h2>Supplemental Video</h2>
                            <div class="row">
                            {{ range $video := .Params.supplimentalVideo }}
                                <div class="col-md-6 supplimental-video">
                                    <p>{{ index $video "desc" }}</p>
                                    {{ partial "video.html" (dict "videoId" (index $video "id") "videoTitle" "Supplimentary Video" "url" .Permalink) }}
                                </div>
                            {{ end }}
                            </div>
                        </article>
                    </main>
                    <div class="container">
                        <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                            <div id="lateral-navigation" class="col-12 btn-toolbar justify-content-center">
                                <div class="input-group">
                                    {{ range first 1 (where .Parent.Pages "Type" "learning-objective-post-assessment") }}   
                                    <a class="btn btn-secondary btn-lg" href="{{.Permalink }}">Next</a>
                                    {{ end }}
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3">
                    {{ partial "learning-objective-sidebar.html" . }}
                </div>
            </div>
        </div>
        {{ partial "footer.html" }}
    </body>
</html>
