<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" . }}
        {{ partial "nav.html" . }}
        <main>
            <div class="container get-started-container">
                <div class="row">
                    <div id="content" class="col-12">
                        <h1 id="basic-page-title">Get Started</h1>
                    </div>
                </div>
            </div>
            <div class="container get-started-container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lead display-5">
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
                        </p>
                    </div>
                    <div class="col-md-6">
                        {{ partial "video.html" (dict "videoId" "S7SLep244ss" "videoTitle" "Dr. Edelstein explains how to use the Project OHCOE site") }}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="get-started-spacer"></div>
            </div>
            <div class="container get-started-container">
                <div class="row text-center">
                    <div class="col-12">
                        <h2>Path to Understanding</h2>
                        <p class="lead">
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. 
                        </p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <div class="icon-path">{{ partial "icon-read.html" }}</div>
                        <h3><span class="line-break">Step 1:</span>Read</h3>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. 
                        </p>
                    </div>
                    <div class="col">
                       <div class="icon-path">{{ partial "icon-measure.html" }}</div>
                        <h3><span class="line-break">Step 2:</span>Measure</h3>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. 
                        </p>
                    </div>
                    <div class="col">
                       <div class="icon-path">{{ partial "icon-watch.html" }}</div>
                        <h3><span class="line-break">Step 3:</span>Watch</h3>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. 
                        </p>
                    </div>
                    <div class="col">
                      <div class="icon-path">{{ partial "icon-compare.html" }}</div>
                        <h3><span class="line-break">Step 4:</span>Compare</h3>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. 
                        </p>
                    </div>
                    <div class="col">
                       <div class="icon-path">{{ partial "icon-analyze.html" }}</div>
                        <h3><span class="line-break">Step 5:</span>Analyze</h3>
                        <p>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="get-started-spacer"></div>
            </div>
            <div class="container get-started-container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2>Real-World Advice</h2>
                        <p class="lead">
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
                        </p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-8">
                        <h3 aria-hidden="true">Marc Schlenoff DDS</h3>
                        <p aria-hidden="true">
                            Marc directs the Columbia University College of Dental Medicine’s Advanced Education in General Dentistry Program. Reflecting his skill as a teacher, Marc was recognized as “Attending Dentist of the Year” at New York Presbyterian Hospital-Weill Cornell Medical Center.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="sr-only">Marc Schlenoff DDS</h3>
                        <p class="sr-only">
                            Marc directs the Columbia University College of Dental Medicine’s Advanced Education in General Dentistry Program. Reflecting his skill as a teacher, Marc was recognized as “Attending Dentist of the Year” at New York Presbyterian Hospital-Weill Cornell Medical Center.
                        </p>
                        {{ partial "video.html" (dict "videoId" "-akUss3uj0M" "videoTitle" "Meet Marc Schlenoff DDS") }}
                    </div>
                </div>
                <div class="row mb-2">
                   <div class="col-md-8">
                        <h3 aria-hidden="true">Kareem Merrick DDS</h3>
                        <p aria-hidden="true">
                            Kareem is clinician who directs Dental Services for Brightpoint Health’s 23 sites across New York City. He has over 10 years’ experience providing dental care for the most vulnerable, marginalized, and challenging patients.
                        </p>
                    </div>
                    
                    <div class="col-md-4">
                        <h3 class="sr-only">Kareem Merrick DDS</h3>
                        <p class="sr-only">
                            Kareem is clinician who directs Dental Services for Brightpoint Health’s 23 sites across New York City. He has over 10 years’ experience providing dental care for the most vulnerable, marginalized, and challenging patients.
                        </p>
                        {{ partial "video.html" (dict "videoId" "N4eJXuCeSjA" "videoTitle" "Meet Kareem Merrick DDS") }}
                    </div>
                 </div>
                <div class="row mb-2">
                   <div class="col-md-8">
                        <h3 aria-hidden="true">Aimee Chiligiris PsyD</h3>
                        <p aria-hidden="true">
                            Aimee is a clinical psychologist specializing in the treatment of substance use disorders. Her distinguished training includes a doctorate from The Chicago School of Professional Psychology and postdoctoral training at the Hazelden Betty Ford Foundation.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="sr-only">Aimee Chiligiris PsyD</h3>
                        <p class="sr-only">
                            Aimee is a clinical psychologist specializing in the treatment of substance use disorders. Her distinguished training includes a doctorate from The Chicago School of Professional Psychology and postdoctoral training at the Hazelden Betty Ford Foundation.
                        </p>
                        {{ partial "video.html" (dict "videoId" "bzXC1spPZ-I" "videoTitle" "Meet Aimee Chiligiris PsyD") }}
                    </div>
                 </div>
                </section>
            </div>
            <div class="container">
                <div class="get-started-spacer"></div>
            </div>
            <div class="container text-center get-started-container">
                <div class="row text-center">
                    <div class="col-12">
                        <h2>Three Domains of Knowledge</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 domains">
                        <div class="domain-logo">
                            <a href="/domains/identify/" aria-label="Start the Identify domain">{{ partial "icon-feature-identify.html" }}</a>
                        </div>
                        <span class="domain-title">Identify</span>
                        <p>
                            Ipsum ipsa aperiam unde ab molestias Ipsam ratione
                            debitis debitis illo aspernatur id Laborum
                            explicabo quod incidunt ipsa odio. Et hic
                            necessitatibus perferendis eius aliquid Fugit non
                            est voluptate a?
                        </p>
                        <a href="/domains/identify/" class="btn btn-secondary btn-lg">Enter Domain</a>
                    </div>
                    <div class="col-md-4 domains">
                        <div class="domain-logo">
                            <a href="/domains/refer/" aria-label="Start the Refer domain">{{ partial "icon-feature-refer.html" }}</a>
                        </div>
                        <span class="domain-title">Refer</span>
                        <p>
                            Ipsum ipsa aperiam unde ab molestias Ipsam ratione
                            debitis debitis illo aspernatur id Laborum
                            explicabo quod incidunt ipsa odio. Et hic
                            necessitatibus perferendis eius aliquid Fugit non
                            est voluptate a?
                        </p>
                        <a href="/domains/refer/" class="btn btn-secondary btn-lg">Enter Domain</a>
                    </div>
                    <div class="col-md-4 domains">
                        <div class="domain-logo">
                            <a href="/domains/manage/" aria-label="Start the Manage domain">{{ partial "icon-feature-manage.html" }}</a>
                        </div>
                        <span class="domain-title">Manage</span>
                        <p>
                            Ipsum ipsa aperiam unde ab molestias Ipsam ratione
                            debitis debitis illo aspernatur id Laborum
                            explicabo quod incidunt ipsa odio. Et hic
                            necessitatibus perferendis eius aliquid Fugit non
                            est voluptate a?
                        </p>
                        <a href="/domains/manage/" class="btn btn-secondary btn-lg">Enter Domain</a>
                    </div>
                </div>
            </div>
        </main> 
        {{ partial "footer.html" }}
    </body>
</html>

