<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }} 
    <body>
        {{ partial "skip.html" . }} {{ partial "nav.html" . }} <main> 
            <div class="container get-started-container">
                <div class="row">
                    <div id="content" class="col-12">
                        <h1 id="basic-page-title">
                            Get Started 
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container get-started-container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lead">
                            This Training will prepare you to confidently: 
                        </p>
                        <ol class="lead">
                            <li><strong>Identify</strong> patients with or at risk for opioid use,</li>
                            <li><strong>Refer</strong> select patients for counseling services, and</li>
                            <li><strong>Manage</strong> these patients' dental care without contributing to their substance use disorder.</li>
                        </ol>
                        <p class="lead">
                            Unfortunately, dentists have contributed to the national opioid abuse epidemic.* We can now contribute to ending this scourge by learning more about how to handle this problem at the chair. 
                        </p>
                        <p>
                            <small>* In 2016, the proportion of dental prescriptions that were opioids were 37 times greater in the US than in England. (Suda KJ et al, JAMA Network Open 2019. DOI:10.1001/jamanetworkopen.2019.4303</small> 
                        </p>
                    </div>
                    <div class="col-md-6">
                        {{ partial "video.html" (dict "videoId" "S7SLep244ss" "videoTitle" "Dr. Edelstein explains how to use the Project OHCOE site") }} 
                        <p class="get-started-lede-display">Burton Edelstein DDS MPH</p>
                        <p>
                            Burton Edelstein DDS MPH, is professor of Dental Medicine and Health Policy &amp; Management at Columbia University where he chairs the Section of Population Oral Health. He is also senior fellow in Public Policy and president emeritus of the DC-based <a href="http://www.cdhp.org" target="_blank">Children’s Dental Health Project</a>, a nonprofit policy organization that advances the oral health interests of children and their families			
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="get-started-spacer">
                </div>
            </div>
            <div class="container get-started-container">
                <div class="row text-center">
                    <div class="col-12">
                        <h2>
                            Path to Understanding 
                        </h2>
                        <p class="lead get-started-lede">
                            Each module provides a real-world case study that features engaging videos, which allows you to measure both your current and new understanding. 
                        </p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <div class="icon-path">
                            {{ partial "icon-read.html" }} 
                        </div>
                        <h3>
                            <span class="line-break">Step 1:</span>Read 
                        </h3>
                        <p>
                            A short but real-world situation of a patient at risk for opioid addiction provides the first step.
                        </p>
                    </div>
                    <div class="col">
                        <div class="icon-path">
                            {{ partial "icon-measure.html" }} 
                        </div>
                        <h3>
                            <span class="line-break">Step 2:</span>Assess 
                        </h3>
                        <p>
                            Reflect upon your own understanding regarding the situation at hand with a pre-assessment.
                        </p>
                    </div>
                    <div class="col">
                        <div class="icon-path">
                            {{ partial "icon-watch.html" }} 
                        </div>
                        <h3>
                            <span class="line-break">Step 3:</span>View 
                        </h3>
                        <p>
                            Video interviews with experts provide a deeper dive with answers into how to handle the situation.
                        </p>
                    </div>
                    <div class="col">
                        <div class="icon-path">
                            {{ partial "icon-compare.html" }} 
                        </div>
                        <h3>
                            <span class="line-break">Step 4:</span>Reassess 
                        </h3>
                        <p>
                            With this new information, reflect once again upon your current understanding with a post-assessment.
                        </p>
                    </div>
                    <div class="col">
                        <div class="icon-path">
                            {{ partial "icon-analyze.html" }} 
                        </div>
                        <h3>
                            <span class="line-break">Step 5:</span>Review 
                        </h3>
                        <p>
                            Cumulative reports provide overviews of your expertise for each specific domain and the entire training.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="get-started-spacer">
                </div>
            </div>
            <div class="container get-started-container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2>
                            Real-World Advice 
                        </h2>
                        <p class="lead get-started-lede">
                            With support from the federal Bureau of Health Workforce (Grant D88HP20109), this training brings you clinically relevant advice and guidance from three experts. By watching their on-camera interviews and completing the training, we believe that you will enhance your capacity to care for patients affected by substance use disorders. 
                        </p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <h3 class="sr-only">
                            Aimee Chiligiris PsyD 
                        </h3>
                        <p class="sr-only">
                            Aimee is a clinical psychologist specializing in the treatment of substance use disorders. Her distinguished training includes a doctorate from The Chicago School of Professional Psychology and postdoctoral training at the Hazelden Betty Ford Foundation. 
                        </p>
                        {{ partial "video.html" (dict "videoId" "-akUss3uj0M" "videoTitle" "Meet Aimee Chiligiris PsyD") }} 
                    </div>
                    <div class="col-md-8">
                        <h3 aria-hidden="true">
                            Aimee Chiligiris PsyD 
                        </h3>
                        <p aria-hidden="true">
                            Aimee is a clinical psychologist specializing in the treatment of substance use disorders. Her distinguished training includes a doctorate from The Chicago School of Professional Psychology and postdoctoral training at the Hazelden Betty Ford Foundation. 
                        </p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <h3 class="sr-only">
                            Kareem Merrick DDS 
                        </h3>
                        <p class="sr-only">
                            Kareem is clinician who directs Dental Services for Brightpoint Health's 23 sites across New York City. He has over 10 years' experience providing dental care for the most vulnerable, marginalized, and challenging patients. 
                        </p>
                        {{ partial "video.html" (dict "videoId" "N4eJXuCeSjA" "videoTitle" "Meet Kareem Merrick DDS") }} 
                    </div>
                    <div class="col-md-8">
                        <h3 aria-hidden="true">
                            Kareem Merrick DDS 
                        </h3>
                        <p aria-hidden="true">
                            Kareem is a clinician who directs Dental Services for Brightpoint Health's 23 sites across New York City. He has over 10 years' experience providing dental care for the most vulnerable, marginalized, and challenging patients. 
                        </p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <h3 class="sr-only">
                            Marc Schlenoff DDS 
                        </h3>
                        <p class="sr-only">
                            Marc directs the Columbia University College of Dental Medicine's Advanced Education in General Dentistry Pro=gram. Reflecting his skill as a teacher, Marc was recognized as "Attending Dentist of the Year" at New York Presbyterian Hospital-Weill Cornell Medical Center. 
                        </p>
                        {{ partial "video.html" (dict "videoId" "bzXC1spPZ-I" "videoTitle" "Meet Marc Schlenoff DDS") }} 
                    </div>
                    <div class="col-md-8">
                        <h3 aria-hidden="true">
                            Marc Schlenoff DDS 
                        </h3>
                        <p aria-hidden="true">
                            Marc directs the Columbia University College of Dental Medicine's Advanced Education in General Dentistry Program. Reflecting his skill as a teacher, Marc was recognized as "Attending Dentist of the Year" at New York Presbyterian Hospital-Weill Cornell Medical Center. 
                        </p>
                    </div>
                </div>
                </section>
            </div>
            <div class="container">
                <div class="get-started-spacer">
                </div>
            </div>
            <div class="container get-started-container">
                <div class="row text-center">
                    <div class="col-12">
                        <h2>
                            Learning Objectives 
                        </h2>
                        <p class="lead">
                            Expertise within these three domains of knowledge will help your patients who are at risk for opioid addiction. 
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 domains">
                        <div class="domain-logo">
                            <a href="/domains/identify/" aria-label="Start the Identify domain">{{ partial "icon-feature-identify.html"  }}</a>
                        </div>
                        <h3 class="domain-title">Identify</h3>
                        <p class="get-started-domain-sub text-center">
                            Identify patients with or at risk for substance use disorders 
                        </p>

                        <a href="/domains/identify/" class="btn btn-secondary btn-lg enter-domain">Enter Domain</a> 

                        <p>Learn how to:</p>
                        <ul>
                            <li>Screen</li>
                            <li>Use Tools</li>
                            <li>Take Charge</li>
                        </ul>
                    </div>
                    <div class="col-md-4 domains">
                        <div class="domain-logo">
                            <a href="/domains/refer/" aria-label="Start the Refer domain">{{ partial "icon-feature-refer.html" }}</a> 
                        </div>
                        <h3 class="domain-title">Refer</h3>
                        <p class="get-started-domain-sub text-center">
                            Refer patients' substance use&nbsp;disorders 
                        </p>

                        <a href="/domains/refer/" class="btn btn-secondary btn-lg enter-domain">Enter Domain</a> 

                        <p>Learn how to:</p>
                        <ul>
                            <li>Understand Opioid Treatment</li>
                            <li>Find Community Resources</li>
                            <li>Partner with Opioid Services</li>
                        </ul>
                    </div>
                    <div class="col-md-4 domains">
                        <div class="domain-logo">
                            <a href="/domains/manage/" aria-label="Start the Manage domain">{{ partial "icon-feature-manage.html" }}</a> 
                        </div>
                        <h3 class="domain-title">
                            Manage 
                        </h3>
                        <p class="get-started-domain-sub text-center">
                            Manage the clinical care of patients with substance use&nbsp;disorders. 
                        </p>
                        <div class="text-center">
                            <a href="/domains/manage/" class="btn btn-secondary btn-lg">Enter Domain</a> 
                        </div>
                        <p>Learn how to:</p>
                        <ul>
                            <li>Expand Pain Armamentarium</li>
                            <li>Consider Patient Drug History</li>
                            <li>Be Responsible</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main> {{ partial "footer.html" }} 
    </body>
</html>
