<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "skip.html" }}
        {{ partial "nav.html" . }}
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-12">
                    <div class="domain-title"><span>Domain: {{ .Parent.Title }}</span></div>
                    <h1>Domain Review: {{ .Title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main>
                        {{ .Content }}
                        <h2>Total Score</h2>
                        <div id="domain-score-{{ anchorize .Parent.Weight }}"></div>
                        <h2>Detailed Score</h2>
                        <div id="{{ anchorize .Parent.Weight }}" class="domain-results">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Learning Objective</th>
                                        <th scope="col">Pre-Assessment Score</th>
                                        <th scope="col">Post-Assessment Score</th>
                                        <th scope="col">Change in Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody> 
                            </table>
                        </div>
                    </main>
                    <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                        <div id="lateral-navigation" class="col-4">
                            {{ $parentWeight := .Parent.Weight }}
                            {{ $grandParentWeight := .Parent.Parent.Weight }}
                            {{ if lt $parentWeight 3 }}
                            {{ range first 1 (where .Parent.Parent.Sections.ByWeight "Weight" "gt" $parentWeight) }}   
                            <p>Proceed to the next domain</p>
                            <a class="btn btn-primary btn-lg" href="{{.Permalink }}">Next</a>
                            {{ end }}
                            {{ else }}
                            <p>See your cumalative results</p>
                            <a class="btn btn-primary btn-lg" href="#">Next</a>
                            {{ end }}
                        </div>
                    </nav>
                </div>
                <div class="col-md-3">
                    <nav aria-labelledby="knowledge-domain-navigation">
                        <div id="knowledge-domain-navigation" class="sr-only">{{ .Parent.Title }} Domain Navigation</div>
                        <ul>
                            <li class="predecessor"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
                            {{ $currentPage := . }}
                            {{ range .Parent.Sections.ByWeight  }}
                            {{ if eq $currentPage . }}
                            <li class="active">{{ .Title }}</li>
                            {{ else }}
                            <li class="predecessor"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            <ul>
                                {{ range .Pages }}
                                <li class="predecessor"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>
    {{ partial "footer.html" }}
    <div class="container">
        <code>
            {{ printf "%#v" .Pages  }} 
        </code>
    </div>
</html>
