<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" }}
    <body>
        {{ partial "nav.html" . }}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="domain-title"><span>Domain: {{ .Parent.Title }}</span></div>
                    <h1>Domain Review: {{ .Title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main>
                        {{ .Content }}
                    </main>
                </div>
                <div class="col-md-3">
                    <nav>
                        <ul>
                        <li><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
                        {{ range .Parent.Sections.ByWeight  }}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            <ul>
                            {{ range .Pages }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            </ul>
                        {{ end }}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                {{ $parentWeight := .Parent.Weight }}
                {{ $grandParentWeight := .Parent.Parent.Weight }}
                {{ if lt $parentWeight 3 }}
                    {{ range first 1 (where .Parent.Parent.Sections.ByWeight "Weight" "gt" $parentWeight) }}   
                    <p>Proceed to the next domain</p>
                    <a class="btn btn-primary btn-lg" href="{{.Permalink }}">Next</a>
                    {{ end }}
                {{ else }}
                    <p>See your cumalative results</p>
                    <a class="btn btn-primary btn-lg" href="#">Next</a>
                {{ end }}
                </div>
            </div>
        </div>
    </body>
    {{ partial "footer.html" }}
    <div class="container">
        <code>
            {{ printf "%#v" .Pages  }} 
        </code>
    </div>
</html>
