<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body class="learning-objective-video">
        {{ partial "skip.html" }}
        {{ partial "nav.html" .Parent }}
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-12">
                    <div class="domain-title"><span>Domain: {{ .Parent.Parent.Title }}</span></div>
                    <div class="learning-objective-title"><span>Learning Objective: {{ .Parent.Title }}</span></div>
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <main>
                        {{ .Content }}
                    </main>
                    <article>
                        <h1>Primary Video</h1>
                        <p>Watch this video to increase your understanding</p>
                        {{ partial "video.html" .Params.primaryVideoId }}
                        <h1>Secondary Video</h1>
                        <p>For a deeper understanding, watch these videos</p>
                        <div class="row">
                        {{ range $video := .Params.supplimentalVideo }}
                            <div class="col-md-6 supplimental-video">
                            {{ partial "video.html" (index $video "id") }}
                                <aside>
                                    {{ index $video "desc" }} 
                                </aside>
                            </div>
                        {{ end }}
                        </div>
                    </article>
                    <nav class="row justify-content-center" aria-labelledby="lateral-navigation">
                        <div id="lateral-navigation" class="col-4">
                            {{ range first 1 (where .Parent.Pages "Type" "learning-objective-post-assessment") }}   
                            <p>Gauge your new understanding</p>
                            <a class="btn btn-primary btn-lg" href="{{.Permalink }}">Next</a>
                            {{ end }}
                        </div>
                    </nav>
                </div>
                <div class="col-md-3">
                    {{ partial "learning-objective-sidebar.html" . }}
                </div>
            </div>
        </div>
    </body>
    {{ partial "footer.html" }}
    <div class="container">
        <code>
            {{ printf "%#v" .  }} 
        </code>
    </div>
</html>
